/* INTRO Settings */

.intro-light {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
    height: calc(100vh - 58px);
    background-color: #5067df;
}

.intro-dark {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
    height: calc(100vh - 58px);
    background-color: #424242;
    /* background-color: #303030; */
}

@media (max-width: 991px) {
    .intro-dark,
    .intro-light {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
    }
}

.blog-read {
    margin-top: 80px;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 12px);
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


/* END INTRO SETTING */

a {
    cursor: pointer;
}

.active .nav-link {
    color: green !important;
}


/* Section Settings */

section:not(:nth-last-of-type(1)) {
    margin-bottom: 20px;
}

.mdi-lg {
    font-size: 23px;
}

.card-footer,
.skill-col {
    display: flex;
}

.skill-col {
    text-transform: uppercase;
    font-weight: bolder;
}

.alignleft {
    flex: 1;
    text-align: left;
}

.aligncenter {
    flex: 1;
    text-align: center;
}

.alignright {
    flex: 1;
    text-align: right;
}